html {
    background-color: lavender;
}

h1 {
    text-align:center;
    
}

.navbar {
    background-color: slategray;
    font-size: 20px;
    color: white;
    text-align: center;
}

body
{
    display: block;
    margin: 8px;
}

h2 {
    display: block;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif
}

#headshot {
    border-radius: 8px;
    display: block;
}
img {
    height: 500px ;
    width: auto;
}